<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="float: left"><%= @course.title %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<%= link_to image_tag("wrapper-1") %>
			</div>
			<div class="row">
				<%= @course.content %>
			</div>
		</div>
	</div>
</div>