<div class="container">
  <div class="col-md-12">
    <h1 id="title"><%= @post.title %></h1>
  </div>
  <div class="glyphicon glyphicon-calendar" style="margin-bottom: 50px">
    <%= @post.updated_at %>
  </div>
  <div><%= raw @post.content %></div>
  <div class="row" style="margin-bottom: 50px">
  	<%= link_to t("views.posts.register"), new_register_path, class: "btn btn-more btn-reg" %>
  </div>
</div>