@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table th {
  text-align: center;
}

@keyframes anim {
  from{ transform:translateY(-300px); opacity: 0}
  to{ transform:translateY(0px); opacity: 1}
}

.navbar-inverse {
  background-color: #f7f7f7;
  border-color: #ffffff;
  height: 80px;
}

img {
  height: 100%;
  width: 100%;
}

a#logo {
  font-size: 2.7em;
  margin-right:  10px;
  float: left;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 9px;
  color: #ab1e4a;
  margin-top: 10px;
}

.nav {
  text-transform: uppercase;
  padding-left: 80px;
}

.nav-top {
  font-size: 10px;
  border-radius: 0px 0px 7px 7px;
  border-color: white;
  width: 120px;
  border-width:  2px;
  background: #f79220de;
  margin: 2px;
}

.nav li a {
  color: #ab1e4a;
  font-weight:  bold;
  &:hover{
    color: #ef0047d4;
    background: #dcdcdc00
  }
}

.search {
  padding-top: 12px;
  float: right;
  padding-right: 40px;
}

.top-menu {
  height: 48px;
  background: linear-gradient(-45deg,#ec5252,#6e1a52);
  padding-left: 120px;
}

#item {
  color:  white;
  font-weight: bold;
  &:hover{
    color: #b1a9ac;
  }
}

.menu_vertical a {
  color: black;
}

.menu_vertical .nav {
  width: 300px;
  background: #86868617;
}

.search_form {
  float:inherit
}

/* Home page */

.title-box{
  padding-top: 20px;
}

.bg-blue{
  background-image: url(bg-blue.png);
  background-size: 100% 100%;
  display: inline-block;
  padding: 5px 50px 5px 20px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
}

a.text-white {
  color: #fff;
}

a.image-lg {
  width: 550px;
  height: 390px;
}

a.image-sm {
  width: 190px;
  height: 180px;
}

.short-content {
  overflow: hidden;
  display: -webkit-box;
  line-height: 16px;
  max-height: 80px;
  min-height: 80px;
}

.btn-more {
  color: #fff;
  background: #ec5252;
  margin-top: 5px;
}

.btn-right {
  float: right;
}

/* Footer */

.footer {
  background: url(bg.jpg);
  min-height: 350px;
  padding: 5em 0 0;
  margin-top: 40px;
}

.grid {
  border-right: 1px solid #fff;
  height: 260px;
}

.icon {
  margin-left: 90px;
  padding: 10px;
}

.copyright {
  height: 52px;
  background: #333333;
  text-align: center;
  color: #fff;
  padding: 10px;
}

/* slider */

.item{
  height:400px;
}

.container {
  width: 1200px;
  height: 100%;

}

.btn .caret {
  margin-top: 6px;
  float: right;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    display: inline-block;
    margin-left: 80px;
    text-align: -webkit-auto;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */

h1{
  text-align: center;
}

h1#anim {
  text-align: center;
  animation: anim 1s forwards;
}

h1#title{
  float: left;
}
.row {
  text-align: center;
}

label {
  float:left;
  margin-top: 20px;
}

.form {
  animation: anim 1s forwards;
  background-color: #06060614;
  border-radius: 8px;
  padding-bottom: 20px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

img.gravatar {
  width: 48px;
}

.img-profile {
  width: 168px;
  position: relative;
}

.upload {
  width: 158px;
  height: 168px;
  background: #c5c2c5a1;
  top: 0px;
  position: absolute;
  opacity: 0;
  padding-top: 70px;
}

.khoi:hover .upload{
  opacity: 1;
}

.khoi {
  width: 158px;
}


/* post */
.field {
  margin-left:200px;
  heght:100px;
  width: 870px;
  textarea {
  width: 870px;
}
}
.pro {
  h1 {
    text-align: -webkit-auto;
    display: grid;
  }
}

/* page course*/

p.title-text {
  font-size: 34px;
  font-weight: 300;
  margin: 30px 0 20px 50px;
}

.product-item {
  margin-top: 20px;
  position: relative;
  padding: 15px;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
  text-align: left;
  margin-bottom: 40px;
}

.product-item:hover{
  transform:translateY(-10px)
}

.title-course {
  font-size: 18px;
  min-height: 60px;
}

.short-text {
  overflow: hidden;
  display: -webkit-box;
  line-height: 16px;
  max-height: 90px;
  min-height: 80px;
}

a.btn-right {
  float: right;
}

.image-wrapper {
  height: 134px;
}

select#course_user_id {
  width: 30%;
  height: 32px;
}

.img-course {
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-str {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.content-course {
  margin-bottom: 40px;
}

a.img-user {
  width: 72px;
  height: 72px;
}

a.btn-show {
  background: #dce0de;
  color: #464646;
  border-width: 1px;
  border-color: #d2c7c7;
  border-radius: 20px;
  margin-top: 5px;
}

.price {
  color: red;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  margin-left: 150px;
}

a.btn-regis {
  font-size: 20px;
  font-weight: bold
}

/* form-register-course*/

.form-register {
  background-color: #06060614;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 20px;
}

.register {
  margin-bottom: 0px;
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-control {
  margin-bottom: 15px;
}

select#register_course_id {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

/* manager_page */

.table-bordered {
  border: 1px solid #ddd;
}

td {
  text-align: center;
  &.tb-img {
  height: 80px;
  max-width: 100px;
  padding: 0px;
  }
}

a.glyphicon {
  line-height: 3;
}

.posts {
  padding: 50px;
}

select#user_type_user {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

input#user_admin {
  float: left;
  margin-top: 22px;
  margin-right: 10px;
}