@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
  background-color: #f7f7f7;
  border-color: #ffffff;
  height: 80px;
}

a#logo {
    font-size: 2.7em;
    text-transform: uppercase;
    margin-right:  10px;
    float: left;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 9px;
    color: #ea6907;
    margin-top: 10px;
}

.nav {
    text-transform: uppercase;
    padding-left: 80px;  
}

.nav-top{
  font-size: 10px;
  border-radius: 0px 0px 7px 7px;
  border-color: white;
  width: 120px;
  border-width:  2px;
  background: #f79220de;
  margin: 2px;
}

.nav li a {
  color:  white;
  font-weight:  bold;
  &:hover{
    color: #01579B;
    background: #dcdcdc00
  }
}

.search {
    padding-top: 12px;
    float: right;
    padding-right: 40px;
}

.top-menu {
  height: 48px;
  background: #f79220de;
}

#item{
  color:  white;
  font-weight: bold;
  &:hover{
  	background:#f5f5f500;
    color: #01579B;
  }
}

.menu_vertical a{
	color: black;
}

.menu_vertical .nav{
	width: 300px;
	background: #86868617;
}

.search_form{
  float:inherit
}

/* slider */

.item{
  height:400px;
  & img{
  width: 100%;
  max-height: 100%;
  }
} 

.container {
    width: 1200px;
    height: 100%;
    text-align: center;
}

/* dropdown */

.btn-lg{
  line-height: 1;
  border-radius: 1px;
  border-color: white;
  width: 300px;
  background: #dcdcdc2b;
  color: black;
}

.dropdown-menu {
  min-width: 300px;
}

.btn:hover{
    background: #eae7e7e3;
}

.btn .caret{
  margin-top: 6px;
  float: right;
}
